.footer{
  background-color: #111827;
  color: white;
  padding: 50px 80px 20px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-brand{
  width: 300px;
}

.footer-brand h1{
  color: #38bdf8;
  margin-bottom: 15px;
}

.footer-brand p{
  line-height: 28px;
  color: #d1d5db;
}

.footer-links h3,
.footer-contact h3{
  margin-bottom: 15px;
  color: #38bdf8;
}

.footer-links ul{
  list-style: none;
}

.footer-links li{
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links li:hover{
  color: #38bdf8;
}

.footer-contact p{
  margin-bottom: 10px;
  color: #d1d5db;
}

.footer-bottom{
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid gray;
  padding-top: 20px;
  color: #9ca3af;
}